# Core Data and Analysis Libraries
pandas
numpy
scikit-learn
pydicom

# Azure ML and MLflow Integration
azureml-mlflow
azure-ai-ml
mlflow
# Azure Synapse Specific Libraries (if needed for local testing)
azure-storage-blob 
azure-identity
